/* --------------------------------------------------------------------------------
Grid
-------------------------------------------------------------------------------- */
.loginScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
  background: #000; /* Dark background */
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.loginScreen::before, .startingScreen::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1; /* Keep this behind interactive elements */
  pointer-events: none; /* This allows clicks to pass through */
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  box-shadow: 0 0 5px white;
  border-radius: 50%;
  opacity: 0;
  animation: twinkle 2s infinite ease-in-out;
  pointer-events: none; /* Apply this to individual stars as well */
}

@keyframes twinkle {
  0%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
}

@keyframes crawl {
  0% {
    top: 100vh; /* Start below the screen */
    transform: perspective(300px) rotateX(25deg);
}
100% {
    top: 0; /* End at the top of the screen */
    transform: perspective(300px) rotateX(25deg);
}
}

